@model IEnumerable<SeguridadApiAlumnosPractica.Model.Alumno>

@{
    ViewData["Title"] = "Alumnos";
}

<h1>Alumnos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAlumno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@item.IdAlumno" class="btn btn-info">Detalles</a>
                <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.IdAlumno" class="btn btn-danger">Delete</a>
                <a asp-controller="Home" asp-action="Update" asp-route-id="@item.IdAlumno" class="btn btn-success">Update</a>
            </td>
        </tr>
}
    </tbody>
</table>
